_*
dados/primeira_tentativa_dados_porto
*.qgz
*.gpkg
*.geojson
*config.json
dbconn*
issues.md
linkedin_text.txt
caddylog/
lixo/
dist/
sandbox/
*.png
*.jpg
cont_shared_folders/
riscows_images/riscowebapp_src/

git rm --cache 